{% load staticfiles %}

<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modalReport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Помилка</h4>
      </div>
      <div class="modal-body">
        <form id="formReport">
          <input type="hidden" id="group_id" name="group_id" />
          <input type="hidden" id="timetable_id" name="timetable_id" />
          {% csrf_token %}

          <div class="form-group">
            <label for="group" class="control-label">Група:</label>
            <input type="text" class="form-control" id="group" name="group" disabled>
          </div>
          <div class="form-group">
            <label for="lesson" class="control-label">Предмет:</label>
            <input type="text" class="form-control" id="lesson" name="lesson" disabled>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Чому помилка (обов’язково):</label>
            <textarea class="form-control" id="message-text" name="message"></textarea>
          </div>
          <div class="form-group">
            <label for="contact" class="control-label">Будь-який контакт для зв’язку (не обов’язково):</label>
            <input type="text" class="form-control" id="contact" name="contact">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
        <button type="button" class="btn btn-primary js-formReportSend">Відправити</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<footer class="footer">
	<div class="container">
		<p class="text-muted pull-left">© {% now "Y" %} rozkladznu.pp.ua</p>
        <div class="pull-right">
            <a class="footer-github" title="Проект на Github" href="https://github.com/Vadimkin/ZNU-Timetable"></a>
        </div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "timetable/js/bootstrap.min.js" %}"></script>
<script src="{% static "timetable/js/main.js" %}"></script>