<nav class="navbar {% if navbar_class %}{{ navbar_class }}{% else %}navbar-static-top{% endif %}">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Розклад пар ЗНУ</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li {% if active_page = 'group_list' %}class="active"{% endif %}><a href="{% url 'group_list' %}">Групи</a></li>
				<li {% if active_page = 'teacher_list' %}class="active"{% endif %}><a href="{% url 'teacher_list' %}">Викладачі</a></li>
				<li {% if active_page = 'map' %}class="active"{% endif %}><a href="{% url 'map' %}">Карта корпусів</a></li>
                <li {% if active_page = 'mobile' %}class="active"{% endif %}><a href="{% url 'mobile_application' %}">Мобільний додаток</a></li>
			</ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="https://github.com/Vadimkin/ZNU-Timetable">Github</a></li>
				<li><a href="/api/v1/doc/">API</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>