{% extends "base.html" %}

{% load staticfiles %}

{% block head %}{% include "base/head.html" with title="Як додати свою групу" %}{% endblock %}
{% block navbar %}{% include "base/navbar.html" with active_page="add_timetable" %}{% endblock %}

{% block content %}
<div class="container">
	<h1>Як додати свою групу</h1>

    <p>На жаль, у нас немає можливості додати всі групи університету, тому якщо ви маєте бажання нам допомогти та додати розклад своєї групи — ми будемо вдячні вам :)</p>

    <h2>1-й крок</h2>
    <p>Потрібно <a href="{% static "timetable/docs/example.xls" %}">завантажити шаблон для Excel</a> та відкрити його.</p>

    <h2>2-й крок</h2>
    <p>Замінити в самому початку документу групу «1234» (вказана для прикладу), факультет та курс на свої.</p>

    <h2>3-й крок — введення розкладу</h2>
    <p>Для кожного предмету окремий рядок.</p>

    <table class="table">
        <tbody><tr>
            <td style="width: 20%;">День тижня</td>
            <td>Можливі значення:<br>Понеділок<br>Вівторок<br>Середа<br>Четвер<br>П’ятниця<br>Субота</td>
        </tr>
        <tr>
            <td>Номер пари</td>
            <td><b>Зверніть увагу!</b> Вводиться не порядковий номер, а час пари.<br>1 — 08:00-09:20<br>2 — 09:35-10:55<br>3 — 11:25-12:45<br>4 — 12:55-14:15<br>5 — 14:30-15:50<br>6 — 16:05-17:25<br>7 — 17:40-19:00<br>8 — 19:10-20:30<br><i>Наприклад, якщо перша пара у групи починається в 14:30, потрібно ввести 5, а не 1.</i></td>
        </tr>
        <tr>
            <td>Чисельник/знаменник</td>
            <td>Якщо дана пара тільки по чисельнику, то потрібно ввести «Чисельник», якщо по знаменнику — «Знаменник». Якщо і по чисельнику, і по знаменнику — залишити пустим.</td>
        </tr>
        <tr>
            <td>Тип предмету</td>
            <td>Можна залишити пустим.<br>1 — лекція<br>2 — семінар<br>3 — лабораторна</td>
        </tr>
        <tr>
            <td>Назва предмету</td>
            <td>Вводиться назва предмету</td>
        </tr>
        <tr>
            <td>Викладач</td>
            <td>Вводиться в будь-якому форматі, але бажано виду «Прізвище І.Б.». Можна залишити пустим, якщо це фізичне виховання.</td>
        </tr>
        <tr>
            <td>Корпус</td>
            <td>Номер корпусу. Якщо це спорткомплекс — вводиться як 7 корпус. Можна залишити пустим, якщо це фізичне виховання.</td>
        </tr>
        <tr>
            <td>Аудиторія</td>
            <td>Номер аудиторії. Можна залишити пустим, якщо це фізичне виховання.</td>
        </tr>
        <tr>
            <td>Вільна траекторія</td>
            <td>Можна залишити пустим.<br>1 — якщо предмет на вибір студента<br>0 — ні.</td>
        </tr>
    </tbody></table>

    <h2>4-й крок</h2>
    <p>Коли розклад готовий, надішліть його, будь ласка, нам на пошту <a href="mailto:mail@vadimklimenko.com">mail@vadimklimenko.com</a> або <a href="https://vk.com/write9843512">ВКонтакті</a>. Ми його відразу ж додамо на сайт.</p>

    <h2>Дякуємо!</h2>
    <br>
</div>
{% endblock %}