{% extends "base.html" %}
{% load readable_month_day %}
{% load is_not_past_due %}

{% block head %}{% include "base/head.html" with title='Група '|add:object.name %}{% endblock %}
{% block navbar %}{% include "base/navbar.html" with active_page="group_list" %}{% endblock %}

{% block content %}
<div class="container groupName">
    <div class="pull-left">
        <h2 title="{{ group.course }} курс">Розклад групи «{{ object.name }}»</h2>
    </div>

    <div class="pull-right groupName-info form-inline hidden-xs">
        <select class="form-control js-subgroup">
          <option disabled="disabled" selected="selected">Оберіть підгрупу</option>
        </select>
        <button class="btn btn-default btn-inline btn-myGroup js-myGroup" data-group="{{ object.id }}">Це моя група</button>
    </div>
</div><!-- /.container -->

<div class="timetable">
    <div class="container">
        {% for lesson in timetable %}
            {% if lesson|is_not_past_due  %}
                {% ifchanged lesson.day or ifchanged lesson.week %}
                    {% if forloop.counter != 1 %}
                        </div> <!-- (-) col-md-9 -->
                        </div> <!-- (-) timetable-lesson -->
                    {% endif %}

                    <div class="row timetable-lesson {% if lesson.is_active_day %}timetable-lesson__active{% endif %}"> <!-- (+) timetable-lesson -->
                        <div class="col-md-3 day">
                            <span class="calendar-icon"></span>
                            <div class="date">
                                <div class="date-weekday">{{ lesson.get_readable_week_day }}</div>
                                <div class="date-day">{% readable_month_day lesson %}, {{ lesson.get_week_type|lower }}</div>
                            </div>
                        </div>

                        <div class="col-md-9">
                {% endifchanged %}

                <div class="row js-lesson {% if lesson.subgroup != 0 %}subgroup subgroup__{{ lesson.subgroup }}" data-subgroup="{{ lesson.subgroup }}"{% else %}"{% endif %}>
                    <div id="timetable-col">
                        <div class="col-md-1 hidden-xs hidden-sm timetable-time" title="Час початку пари">{{ lesson.period.get_time_start_without_seconds }}</div>
                        <div class="col-md-10 timetable-info"><span class="visible-xs-inline visible-sm-inline"><b>{{ lesson.period.get_time_start_without_seconds }}:</b></span>{% if lesson.subgroup != 0 %} <span class="timetable-subGroupInfo">Підгрупа {{ lesson.subgroup }} — </span>{% endif %} {% if lesson.free_trajectory %}<i title="Вільна траекторія">{% endif %}{{ lesson.lesson.name }}{% if lesson.free_trajectory %}</i>{% endif %}{% if lesson.audience.audience != "—" %} (<a href="{% url 'map' %}?campus={{ lesson.audience.campus.id }}">{{ lesson.audience.campus.name }}</a>, аудиторія {{ lesson.audience.audience }}).{% endif %}{% if lesson.teacher.name != "—" %} Викладач — <a href="{% url 'teacher_detail' lesson.teacher.id %}">{{ lesson.teacher.name }}</a>{% endif %}</div>
                        <div class="col-md-1 hidden-xs hidden-sm timetable-time" title="Час кінця пари">{{ lesson.period.get_time_end_without_seconds }}</div>
                    </div>
                </div>

                {% if forloop.last %}
                    </div> <!-- (-) col-md-9 -->
                    </div> <!-- (-) timetable-lesson -->
                {% endif %}
            {% else %}
                <!-- </div> --> <!-- (-) timetable-lesson -->
            {% endif %}
        {% empty %}
            <h3>На жаль, розклад для даної групи ще не доданий</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}