{% extends "base.html" %}

{% block content %}
<div class="container groupName">
	<div class="pull-left">
		<h2>Група 5132-1</h2>
	</div>
	
	<div class="pull-right hidden-xs"><a href="" class="downloadCal"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>Завантажити розклад в .ical</a></div>
</div><!-- /.container -->

<div class="timetable">
	<div class="container">
		<div class="row timetable-lesson">
			<div class="col-md-3 day">
				<span class="calendar-icon"></span>
				<div class="date">
					<div class="date-weekday">ПОНЕДІЛОК</div>
					<div class="date-day">2 січня</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-1 hidden-xs hidden-sm timetable-time">08:00</div>
					<div class="col-md-11 timetable-info"><span class="onlyOn onlyOn-xs onlyOn-sm" style="font-weight: bold;">08:00:</span> Філософія (лекція в 1 корпусі, аудиторія 123). Викладач — Чопоров С.В.</div>
				</div>
				<div class="row">
					<div class="col-md-1 hidden-xs timetable-time">08:00</div>
					<div class="col-md-11 timetable-info"><span class="onlyOn onlyOn-xs" style="font-weight: bold;">08:00:</span> Філософія (лекція в 1 корпусі, аудиторія 123). Викладач — Чопоров С.В.</div>
				</div>
			</div>
		</div>

		<div class="row timetable-lesson">
			<div class="col-md-3">
				<span class="calendar-icon"></span>
				<div class="date">
					<div class="date-weekday">вівторок</div>
					<div class="date-day">3 січня</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-1 hidden-xs timetable-time">08:00</div>
					<div class="col-md-11 timetable-info"><span class="onlyOn onlyOn-xs" style="font-weight: bold;">08:00:</span> Філософія (лекція в 1 корпусі, аудиторія 123). Викладач — Чопоров С.В.</div>
				</div>
				<div class="row">
					<div class="col-md-1 hidden-xs timetable-time">08:00</div>
					<div class="col-md-11 timetable-info"><span class="onlyOn onlyOn-xs" style="font-weight: bold;">08:00:</span> Філософія (лекція в 1 корпусі, аудиторія 123). Викладач — Чопоров С.В.</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}