{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    {% include "base/head.html" with title='Розклад ЗНУ' %}
{% endblock %}
{% block html_append %}class="landing-main"{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<div class="landing">
    <div class="landing-title">Розклад пар ЗНУ</div>
    <div class="landing-desc">
        <p style="text-align: center;">Привіт! У нас є дві новини:</p>
        <p>1. Погана. Ми вирішили зупинитись на інших більш перспективних особистих проектах, тому «Розклад ЗНУ» підтримуватись більше не буде.</p>
        <p>2. Добра. На базі університету розробляється проект з розкладом пар. Побажаємо їм успіху!</p>
        <p>Якщо є будь-які пропозиції, то <a href="https://vk.com/write9843512" onclick="ga('send', 'event', 'Send letter click');" target="_blank">напишіть нам</a>.</p>
    </div>
</div>
{% endblock %}