{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
    {% include "base/head.html" with title='Розклад ЗНУ' %}
{% endblock %}
{% block html_append %}class="landing-main"{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<div class="landing">
    <div class="landing-title">Розклад пар ЗНУ</div>
    <div class="landing-desc">
        Прямо зараз ми розробляємо додатки під Android та iOS.<br>Напишіть нам що хотіли б побачити в цих додатках :-)
    </div>
    <a href="https://vk.com/write9843512" onclick="ga('send', 'event', 'Send letter click');" target="_blank" class="landing-writeLetter animate">Написати нам</a>
    <div class="landing-comingSoon">
        Додаток вже цієї осені
    </div>
</div>
{% endblock %}