{% extends "base.html" %}

{% block head %}{% include "base/head.html" with title='Карта корпусів' %}{% endblock %}
{% block html_append %}class="campusMap"{% endblock %}
{% block navbar %}{% include "base/navbar.html" with navbar_class="navbar-fixed-top" active_page="map" %}{% endblock %}

{% block content %}
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

<script type="text/javascript">
window.onload = function() {
    var activeCampus = (getQueryVariable('campus'))?getQueryVariable('campus'):0;
    var allCampus = [0, 1, 2, 7, 3, 4, 6, 5, 8];

	 ymaps.ready(function() {
		var myMap = new ymaps.Map('map', {
				center: [47.819230, 35.181282],
				zoom: 17
		});

		myMap.controls.add('typeSelector');
		myMap.controls.add('zoomControl');

		ymaps.geoXml.load("http://maps.yandex.ua/export/usermaps/csQQf7mEuYF20lGBfEf8qV-YV_ef4jJa/?1")
				.then(function(res) {
					 res.geoObjects.each(function(geoObject) {
						campusName = (/<h3>(.+?)<\/h3>/i.exec(geoObject.properties.get('balloonContentBody', 'none')))[1];
						campusNum = geoObject.properties.get('metaDataProperty.AnyMetaData.number');

						if(allCampus[activeCampus] == 0) {
						    geoObject.properties.set('hintContent', campusName);
                            geoObject.options.set({
                                preset: 'twirl#blueStretchyIcon'
                            });
                            geoObject.properties.set('iconContent', campusName);
						} else {
						    if(allCampus[activeCampus] == campusNum) {
						        geoObject.properties.set('hintContent', campusName);
                                geoObject.options.set({
                                    preset: 'twirl#redStretchyIcon'
                                });
                                geoObject.properties.set('iconContent', campusName + " корпус");
                                myMap.setCenter(geoObject.geometry.getCoordinates());
						    } else {
						        geoObject.properties.set('hintContent', campusName);
                                geoObject.options.set({
                                    preset: 'twirl#blueStretchyIcon'
                                });
                                geoObject.properties.set('iconContent', campusName);
						    }
						}
					});

					while (geoObjects = res.geoObjects.get(0)) {
						myMap.geoObjects.add(geoObjects);
					}
				}, function(error) {
					// alert('Ошибка: ' + error);
				});
	 });
}
</script>


 <div id="map" style="width: 100%; height: 100%; margin-top: -5px;"></div>
{% endblock %}