{% extends "base.html" %}

{% load staticfiles %}

{% block head %}{% include "base/head.html" with title="Мобільний додаток" %}{% endblock %}
{% block navbar %}{% include "base/navbar.html" with active_page="mobile" %}{% endblock %}

{% block content %}
<div class="container">
	<h1>Додатки для мобільних девайсів</h1>

    <div class="selectDevice">

        <p>Оберіть модель Вашого мобільного телефону:</p>

        <div class="row mobileApps">
            <a href="https://itunes.apple.com/ua/app/rozklad-znu/id1044994456?l=ru&mt=8" class="col-md-3 col-md-offset-2 col-xs-12">
                <div class="mobileApps-one mobileApps-one__ios">
                    <img class="mobileApps-img" src="{% static "timetable/img/iphone-app.png" %}" alt=""/><br>
                    <span class="mobileApps-model">iPhone та iPad</span>
                </div>
            </a>
            <a href="https://play.google.com/store/apps/details?id=ua.pp.rozkladznu.app" class="col-md-3 col-md-offset-2 col-xs-12">
                <div class="mobileApps-one">
                    <img class="mobileApps-img" src="{% static "timetable/img/android-app.png" %}" alt=""/><br>
                    <span class="mobileApps-model">Android</span>
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}